
#container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    min-height: 80px;
    min-width: 80px;
    margin: 0;

    border: solid thin black;
}