<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main view</title>
    <link href="./style/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Tic-Tac-Toe</h1>
    <div id="container">
        <div id="scoreboard">
            Blue <span id="blue_cnt">0</span>
            Red <span id="red_cnt">0</span>
        </div>
        <div id="board">
            <div class="row" data-index="0">
                <div class="cell" data-pos="0"></div>
                <div class="cell" data-pos="1"></div>
                <div class="cell" data-pos="2"></div>
            </div>
            <div class="row" data-index="1">
                <div class="cell" data-pos="0"></div>
                <div class="cell" data-pos="1"></div>
                <div class="cell" data-pos="2"></div>
            </div>
            <div class="row" data-index="2">
                <div class="cell" data-pos="0"></div>
                <div class="cell" data-pos="1"></div>
                <div class="cell" data-pos="2"></div>
            </div>
        </div>
        <div id="controls">
            <button id="reset">Reset</button>
            <button id="modalbtn">Test modal</button>
        </div>
    </div>

    <div class="modal_screen" id="modal_screen">
        <div class="modal-content">
            <button id="modal_close_me">X</button>
            <h1 class="message_title">Placeholder title</h1>
            <p class="message_body">placeholder body</p>
        </div>
    </div>

    <script type="text/javascript"}>

        function show_model(title, message) {
            let modal_screen = document.getElementById("modal_screen");
            let modal_title = modal_screen.querySelector(".message_title");
            let modal_message = modal_screen.querySelector(".message_body");

            modal_title.innerHTML = title;
            modal_message.innerHTML = message;
            modal_screen.style.display = "block";

        }

        function hide_model() {
            let modal_screen = document.getElementById("modal_screen");
            modal_screen.style.display = "none";
        }

        async function update() {
            let raw = await switchboard.getState();
            let state = JSON.parse(raw)
            console.log("New State", state);
            for(let [y,row] of Object.entries(state)) {
                for(let [x, cell] of Object.entries(row)) {
                    set_cell(x, y, cell);
                }
            }

            let raw_score = await switchboard.getScore();
            let score = JSON.parse(raw_score);
            console.log("Score is ", score);

            let scrbrd = document.getElementById("scoreboard")
            scrbrd.querySelector("#blue_cnt").innerHTML = score['human']
            scrbrd.querySelector("#red_cnt").innerHTML = score['cpu']

        }

        function set_cell(x, y, state){
            let cell = document.querySelector(`div[data-index='${x}']`).querySelector(`div[data-pos='${y}']`);
            if(cell) {
                switch (state) {
                    case 0:
                        cell.dataset.player = 'none';
                        break;
                    case 1:
                        cell.dataset.player = 'cpu';
                        break;
                    case 2:
                        cell.dataset.player = 'human';
                }
            }
        }

        function show_message(msg) {
            console.log("Backend says: ", msg);
            show_model("Game status", msg);
        }

        function app_loaded() {

            document.getElementById("modalbtn").addEventListener("click", e => show_model("Test me", "Hello World"));
            document.getElementById("modal_close_me").addEventListener("click", e=> hide_model());
            document.getElementById("modal_screen").addEventListener("click", e=>hide_model());


            console.log("I am alive!");
            switchboard.stateChanged.connect(update);
            switchboard.hasMessage.connect(show_message);

            document.querySelectorAll("div.cell").forEach(x=>x.addEventListener("click", evt => window.switchboard.attempt(x.dataset.pos, x.parentElement.dataset.index)));
            let resetBtn = document.getElementById('reset')
            resetBtn.addEventListener('click', x=>switchboard.reset())


            update().then(_=>console.log("Board updated"));
            console.log("App updated")

        }
    </script>
</body>
</html>